<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"32px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:32px">
  <!-- wp:pattern {"slug":"staark/hero-business"} /-->
  <!-- wp:pattern {"slug":"staark/services-three"} /-->
  <!-- wp:pattern {"slug":"staark/why-us-business"} /-->
  <!-- wp:pattern {"slug":"staark/testimonials-business"} /-->
  <!-- wp:pattern {"slug":"staark/cta-business"} /-->
  <!-- wp:pattern {"slug":"staark/contact-business"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
