<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"gast-main gast-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group gast-main gast-page"><!-- wp:group {"className":"gast-page-head","layout":{"type":"constrained"}} -->
<div class="wp-block-group gast-page-head"><!-- wp:post-title {"level":1,"className":"gast-page-title"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
