<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"salong-main","layout":{"type":"default"}} -->
<main class="wp-block-group salong-main"><!-- wp:pattern {"slug":"staark/salong-hero"} /-->
<!-- wp:pattern {"slug":"staark/salong-services"} /-->
<!-- wp:pattern {"slug":"staark/salong-prices"} /-->
<!-- wp:pattern {"slug":"staark/salong-gallery"} /-->
<!-- wp:pattern {"slug":"staark/salong-about"} /-->
<!-- wp:pattern {"slug":"staark/salong-reviews"} /-->
<!-- wp:pattern {"slug":"staark/salong-booking"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
